@property --rotation {
  syntax: "<angle>";
  initial-value: 0turn;
  inherits: false;
}

$table-color: hsl(195, 53%, 79%);
$red: hsl(0, 81%, 44%);
$blue: hsl(240, 82%, 54%);
$green: hsl(120, 85%, 33%);
$black: hsl(0, 0%, 0%);
$white: hsl(60, 24%, 96%);
$grey: hsl(0, 0%, 50%);
