@use "./modules/variables";
@use "./modules/mixins";

@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  button,
  input {
    font: inherit;
  }
}

// GENERAL
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
}

// GOOGLE FONT
.bitcount-single-google-font {
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400; // 100 - 900
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}
// END GOOGLE FONT

// COLOURS FOR SQUARES
.red {
  background-color: variables.$red;
}

.blue {
  background-color: variables.$blue;
}

.green {
  background-color: variables.$green;
}
// END COLOURS FOR SQUARES

// COLOURS FOR TEXT THAT APPEARS UNDER FORM - WHETHER ANSWER WAS CORRECT OR NOT
.correct-answer {
  color: variables.$green;
}

.incorrect-answer {
  color: variables.$red;
}
// END COLOURS FOR TEXT...
body {
  color: variables.$white;
}

body.home-page-body {
  @include mixins.body-bg-styling("./assets/landing_page_2.png");
}

body.game-page-body {
  @include mixins.body-bg-styling("./assets/game_page.png");
}

.wrapper {
  min-block-size: 100vh;
  display: grid;
  grid-template-rows: 1fr auto;
}

.footer {
  padding-block: 1.6em;
  padding-inline: 2em;
}

p {
  margin-block-end: 1.5rem;
}

.button {
  line-height: 2;
  padding-inline: 2ch;
  font-size: 1.2rem;
  cursor: pointer;
  color: variables.$black;
  background-color: variables.$white;

  &:disabled {
    background-color: variables.$grey;
  }

  &--play-game {
    font-size: 1.6rem;
    border: 4px solid transparent;
    background:
      linear-gradient(variables.$white, variables.$white) padding-box,
      conic-gradient(
          from var(--rotation),
          red,
          green,
          yellow,
          blue,
          purple,
          red
        )
        border-box;
    animation: 30s color-rotation infinite;
    box-shadow: 5px 5px 10px variables.$black;
    border-radius: 0.5rem;
  }

  &--how-to-play {
    box-shadow: 5px 5px 10px variables.$black;
    border: none;
  }

  &--submit,
  &--next-lvl-or-end-game {
    font-size: 1rem;
  }

  &--next-lvl-or-end-game {
    font-weight: 500;
  }

  &.end-game-style {
    background-color: variables.$red;
    color: variables.$white;
  }

  &.next-level-style {
    background-color: variables.$blue;
    color: variables.$white;
  }
}

.hidden {
  display: none;
}
// END GENERAL

// HOME PAGE
.home-page-wrapper {
  block-size: 100%;
}

.play-game-btn-wrapper {
  @include mixins.flexbox-styling($flex-direction: column);
  row-gap: 2.5em;
  block-size: 100%;

  &__heading {
    font-size: clamp(2.2rem, 8vw, 3rem);
    text-align: center;
    @media (prefers-reduced-motion: no-preference) {
      animation: bounce 1100ms ease infinite;
    }
  }

  &__span {
    color: hsl(24, 74%, 49%);
  }
}

.dialog {
  margin: auto;
  padding-inline: min(10%, 2.5em);
  padding-block: 2.5em;
  inline-size: min(90%, 600px);
  // position: relative;
  background-color: rgb(from variables.$black r g calc(b + 10));
  color: variables.$white;
  display: none;
  opacity: 0;
  translate: 0 25vh;
  transition: all 1s allow-discrete;

  &[open] {
    opacity: 1;
    display: block;
    translate: 0 0;

    @starting-style {
      opacity: 0;
      translate: 0 25vh;
    }
  }

  &__heading {
    margin-block-end: 0.5em;
    @media (width >= 200px) {
      width: 15ch;
    }
    @media (width >= 500px) {
      width: fit-content;
    }
  }
}

.dialog__close-btn-wrapper {
  display: flex;
  justify-content: end;

  button {
    border-radius: 100vw;
    border: none;
    position: absolute;
    inset-block-start: 1em;
    inset-inline-end: 1em;
    background-color: rgb(from variables.$black r g calc(b + 40));

    &::before {
      content: " \00D7";
      font-size: 1.5rem;
      color: variables.$white;
    }
  }
}

.high-score-wrapper {
  text-align: center;
  padding: 1.5em;
  backdrop-filter: blur(10px);
  border-radius: 5rem;
}

// END HOME PAGE

// GAME BOARD
.game-wrapper {
  @include mixins.flexbox-styling($flex-direction: column);
  // Override display flex
  display: none;
  inline-size: min(90%, 600px);
  margin-inline: auto;
  padding-block: 2.5em;

  &__heading {
    margin-block: 1em;
  }

  &__board {
    margin-block-end: 0.8em;
  }

  &__num-of-lives-heading {
    margin-block-end: 0.5em;
    font-size: 0.85rem;
  }
}

.form-wrapper {
  inline-size: 100%;
  padding-inline: 0.2em;
  margin-block-end: 2em;
}

.answer-form__input-wrapper {
  margin-block-end: 1.2em;

  label {
    display: block;
  }

  input {
    margin-block-start: 0.5em;
    padding-inline-start: 0.5em;
    padding-block: 0.8em;
    inline-size: 100%;
    background-color: rgb(from variables.$black r g b / calc(alpha - 0.4));
    border-radius: 0.5rem;
    color: inherit;

    &:disabled {
      background-color: variables.$grey;
    }
  }
}

.answer-form__btn-wrapper {
  @include mixins.flexbox-styling($justify-content: space-between);
}

.correct-incorrect-text {
  font-size: 1.2rem;
  padding-block: 0.8em;
  margin-block-end: 1rem;
}

.correct-incorrect-text,
.correct-incorrect-text-wrapper__display-correct-answer {
  text-align: center;
}

table {
  background-color: variables.$table-color;
  td {
    $dimension: 3em;
    inline-size: $dimension + 2;
    block-size: $dimension;
    background-color: variables.$table-color;
  }
}
// END GAME BOARD

@keyframes color-rotation {
  from {
    --rotation: 0turn;
  }
  to {
    --rotation: 1turn;
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-3px);
  }
  100% {
    transform: translateY(0px);
  }
}
