@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    block-size: 100%;
  }

  button {
    font: inherit;
  }
}

$table-color: lightblue;
$red: red;
$blue: blue;
$green: green;

// GENERAL
::view-transition-old(root),
::view-transition-new(root) {
  animation-duration: 1s;
}

.red {
  background-color: $red;
}

.blue {
  background-color: $blue;
}

.green {
  background-color: $green;
}

.correct-answer {
  color: $green;
}

.incorrect-answer {
  color: $red;
}

// GOOGLE FONT
.bitcount-single-google-font {
  font-family: "Bitcount Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 400; // 100 - 900
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

@mixin flexbox-styling(
  $align-items: center,
  $justify-content: center,
  $flex-direction: row
) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

@mixin body-bg-styling($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: linear-gradient(
      to bottom,
      rgb(0 0 0 / 0.6),
      rgb(0 0 0 / 0.9)
    );
  }
}

body {
  color: white;
}

body.home-page-body {
  @include body-bg-styling("./images/landing_page.png");
}

body.game-page-body {
  @include body-bg-styling("./images/game_page.png");
}

.header {
  padding-block: 1em;
  padding-inline: 2em;

  &__heading {
    font-weight: 500;
    font-size: 2.5rem;
  }
}

.footer {
  padding-block-start: 1em;
  padding-inline: 2em;
  background-image: linear-gradient(to bottom, rgb(0 0 0 / 0.8));
}

p {
  margin-block-end: 1.5rem;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.button {
  line-height: 2;
  padding-inline: 2ch;
  font-size: 1.2rem;
  cursor: pointer;
}

.hidden {
  display: none;
}

// END GENERAL

// HOME PAGE
.home-page-wrapper {
  block-size: 100%;
  // display: none;
}

.play-game-btn-wrapper {
  @include flexbox-styling($flex-direction: column);
  row-gap: 5em;
  block-size: 100%;
}

.button--play-game {
  font-size: 1.6rem;
}

.dialog {
  margin: auto;
  padding-inline: min(10%, 2.5em);
  padding-block: 2.5em;
  inline-size: min(90%, 600px);
  position: relative;

  &__heading {
    margin-block-end: 0.5em;
  }

  &__list {
    margin-block-end: 1em;
    list-style-type: circle;
  }
}

.dialog-list__item {
  margin-block-end: 0.5em;
}

.dialog__close-btn-wrapper {
  display: flex;
  justify-content: end;

  button {
    border-radius: 100vw;
    border: none;
    position: absolute;
    inset-block-start: 1em;
    inset-inline-end: 1em;

    &::before {
      content: " \00D7";
      font-size: 1.5rem;
    }
  }
}

// END HOME PAGE

// GAME BOARD
.game-wrapper {
  @include flexbox-styling($flex-direction: column);
  // Override display flex
  display: none;
  inline-size: min(90%, 600px);
  margin-inline: auto;

  &__heading {
    margin-block-end: 0.5em;
  }

  &__board {
    margin-block-end: 0.8em;
  }

  &__num-of-lives-heading {
    margin-block-end: 0.5em;
    font-size: 0.85rem;
  }
}

.form-wrapper {
  inline-size: 100%;
  padding-inline: 0.2em;
  margin-block-end: 2em;
}

.answer-form__input-wrapper {
  margin-block-end: 1.2em;

  label {
    display: block;
  }

  input {
    margin-block-start: 0.5em;
    padding-inline-start: 0.5em;
    padding-block: 0.8em;
    inline-size: 100%;
  }
}

.answer-form__btn-wrapper {
  @include flexbox-styling($justify-content: space-between);
}

.button--submit,
.button--next-lvl-or-end-game {
  font-size: 1rem;
}

.correct-incorrect-text {
  font-size: 1.2rem;
  padding-block: 0.8em;
}

table {
  background-color: $table-color;
  td {
    $dimension: 3em;
    inline-size: $dimension + 2;
    block-size: $dimension;
    background-color: $table-color;
  }
}

// END GAME BOARD
