@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    block-size: 100%;
  }
}

p {
  margin-block-end: 1.5rem;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.header,
.footer {
  padding: 2em;
}

.play-game-btn-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  block-size: 100%;
  row-gap: 5em;
}

.button {
  line-height: 2;
  padding-inline: 2ch;
  font-size: 1.2rem;
  cursor: pointer;
}

.button--play-game {
  font-size: 1.6rem;
}

.dialog {
  margin: auto;
  padding-inline: min(10%, 2.5em);
  padding-block: 2.5em;
  inline-size: min(90%, 600px);
  position: relative;

  &__heading {
    margin-block-end: 0.5em;
  }

  &__list {
    margin-block-end: 1em;
    list-style-type: circle;
  }
}

.dialog-list__item {
  margin-block-end: 0.5em;
}

.dialog__close-btn-wrapper {
  display: flex;
  justify-content: end;

  button {
    border-radius: 100vw;
    border: none;
    position: absolute;
    top: 1em;
    right: 1em;

    &::before {
      content: " \00D7";
      font-size: 1.5rem;
    }
  }
}

// table {
//   td {
//     $dimension: 4.5em;
//     border: 1px solid black;
//     inline-size: $dimension;
//     block-size: $dimension;
//   }
// }
