@layer reset {
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  html,
  body {
    block-size: 100%;
  }
}

$table-color: lightblue;
$red: red;
$blue: blue;
$green: green;

.red {
  background-color: $red;
}

.blue {
  background-color: $blue;
}

.green {
  background-color: $green;
}

@mixin flexbox-styling(
  $align-items: center,
  $justify-content: center,
  $flex-direction: row
) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

// GENERAL
.header {
  padding-block: 1em;
  padding-inline: 2em;
}

.footer {
  padding: 2em;
}

p {
  margin-block-end: 1.5rem;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.button {
  line-height: 2;
  padding-inline: 2ch;
  font-size: 1.2rem;
  cursor: pointer;
}

.hidden {
  display: none;
}
// END GENERAL

// HOME PAGE
.home-page-wrapper {
  block-size: 100%;
  // display: none;
}

.play-game-btn-wrapper {
  @include flexbox-styling($flex-direction: column);
  row-gap: 5em;
  block-size: 100%;
}

.button--play-game {
  font-size: 1.6rem;
}

.dialog {
  margin: auto;
  padding-inline: min(10%, 2.5em);
  padding-block: 2.5em;
  inline-size: min(90%, 600px);
  position: relative;

  &__heading {
    margin-block-end: 0.5em;
  }

  &__list {
    margin-block-end: 1em;
    list-style-type: circle;
  }
}

.dialog-list__item {
  margin-block-end: 0.5em;
}

.dialog__close-btn-wrapper {
  display: flex;
  justify-content: end;

  button {
    border-radius: 100vw;
    border: none;
    position: absolute;
    top: 1em;
    right: 1em;

    &::before {
      content: " \00D7";
      font-size: 1.5rem;
    }
  }
}

// END HOME PAGE

// GAME BOARD
.game-wrapper {
  @include flexbox-styling($flex-direction: column);
  // Override display flex
  display: none;
  width: min(90%, 600px);
  margin-inline: auto;

  &__heading {
    margin-block-end: 0.5em;
  }

  &__board {
    margin-block-end: 0.8em;
  }

  &__num-of-lives-heading {
    margin-block-end: 0.5em;
    font-size: 0.85rem;
  }
}

.form-wrapper {
  width: 100%;
  padding-inline: 0.2em;
}

.answer-form__input-wrapper {
  margin-block-end: 1.2em;

  label {
    display: block;
  }

  input {
    margin-block-start: 0.5em;
    padding-inline-start: 0.5em;
    padding-block: 0.8em;
    width: 100%;
  }
}

.answer-form__btn-wrapper {
  @include flexbox-styling($justify-content: space-between);
}

.button--submit,
.button--next-lvl-or-end-game {
  font-size: 1rem;
}

.correct-incorrect-text {
  font-size: 1.2rem;
  padding-block: 0.8em;
}

table {
  background-color: $table-color;
  td {
    $dimension: 3em;
    inline-size: $dimension + 2;
    block-size: $dimension;
    background-color: $table-color;
  }
}

// END GAME BOARD
