@mixin flexbox-styling(
  $align-items: center,
  $justify-content: center,
  $flex-direction: row
) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
  flex-direction: $flex-direction;
}

@mixin body-bg-styling($url) {
  background-image: url($url);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
  &::before {
    content: "";
    position: absolute;
    inset: 0;
    z-index: -1;
    background-image: linear-gradient(
      to bottom,
      rgb(0 0 0 / 0.6),
      rgb(0 0 0 / 0.9)
    );
  }
}

@mixin button-styling(
  $color,
  $bg-color,
  $inset-block-start: 1em,
  $inset-block-end: 1em,
  $font-size: 1.5rem
) {
  border-radius: 100vw;
  border: none;
  position: absolute;
  inset-block-start: $inset-block-start;
  inset-inline-end: $inset-block-end;
  background-color: rgb(from $bg-color r g calc(b + 40));

  &::before {
    content: " \00D7";
    font-size: $font-size;
    color: $color;
  }
}
